{% extends 'base.html' %}
{% load static %}
{% block title %}Noting News{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">noting news</li>
{% endblock %}

{% block content %}
<div class="mb-4">
{% for noting_news in noting_news_list %}
<div class="card w-85 mb-2">
  <div class="card-body">
    <h5 class="card-title">{{ noting_news.title }}</h5>
    <p class="card-text"><a class="text-muted" href="{% url 'noting_news_content' noting_news.pk %}">{{ noting_news.content|truncatechars:160 }}</a></p>
    <a href="{% url 'noting_news_content' noting_news.pk %}" class="btn btn-secondary">Details</a>
  </div>
</div>
{% endfor %}
</div>
{% endblock %}